[submodule "backtrace-library/src/main/cpp/libbun"]
	path = backtrace-library/src/main/cpp/libbun
	url = git@github.com:backtrace-labs/libbun.git
[submodule "backtrace-library/src/main/cpp/crashpad"]
	path = backtrace-library/src/main/cpp/crashpad
	url = git@github.com:backtrace-labs/crashpad.git
