[submodule "backtrace-library/src/main/cpp/libbun"]
	path = backtrace-library/src/main/cpp/libbun
	url = https://github.com/backtrace-labs/libbun.git
[submodule "backtrace-library/src/main/cpp/crashpad"]
	path = backtrace-library/src/main/cpp/crashpad
	url = https://github.com/backtrace-labs/crashpad.git
