language: android
sudo: true
git:
  depth: 3
android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-26.0.3
    # The SDK version used to compile your project
    - android-26
    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-x86-android-26
install:
  # - echo y | sdkmanager "ndk-bundle"
  - echo y | sdkmanager "platforms;android-26"

before_script:
  - ./gradlew assembleDebug