name: Lint project

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout submodules
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          token: ${{ secrets.ACCESS_TOKEN }}
          persist-credentials: false

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17.0.10
          distribution: "adopt"
          cache: gradle

      - name: Accept Android SDK licences
        run: yes | "${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager" --licenses

      - name: Lint - check Code Style
        run: ./gradlew spotlessCheck
